# This is a configuration file meant for the Ettus USRP B205mini-i

# ----------------------- Chirp generation ------------------------ #
GENERATE:
    sample_rate: &s_rate 56e6        # Of the generated chirp, tx and rx sample rates [sps]
    chirp_type: 'linear'             # Can be 'linear'
    chirp_bandwidth: 56e6            # [Hz]
    window: 'rectangular'            # Window function applied to the chirp
    chirp_length: &chirp_len 100e-6    # [s]
    out_file: &ch_sent "data/chirp.bin"   # The name of the output binary file
    show_plot: False                 # Display a time-domain plot of the generated chirp

# ----------------- TX/RX for USRP_B205mini-i --------------------- #
DEVICE:
    device_args: ""   # device address
    subdev: "A:A"
    clk_ref: "internal"
    clk_rate: 56e6       # Clock Rate [Hz]
    tx_channels: "0"
    rx_channels: "0"
GPIO:
    gpio_bank: "FP0"     # which GPIO bank to use (FP0 is front panel and default)
    pwr_amp_pin: "-1"     # which GPIO pin (on the DB15 connector) to use for external power amplifier control (set to -1 if not using)
RF0:
    rx_rate: *s_rate     # RX Sample Rate [sps]
    tx_rate: *s_rate     # TX Sample Rate [sps]
    freq: 420e6          # Center Frequency (for mixing)
    rx_gain: 45          # RX Gain [dB]
    tx_gain: 60.8        # TX Gain [dB] - 60.8 is -10 dBm output
    bw: 56e6             # TX/RW Bandwidth [Hz]
    tx_ant: "TX/RX"
    rx_ant: "RX2"
RF1:                     # parameters for second RF channel
    rx_rate: *s_rate     # RX Sample Rate [sps]
    tx_rate: *s_rate     # TX Sample Rate [sps]
    freq: 500e6          # Center Frequency (for mixing)
    rx_gain: 10         # RX Gain [dB]
    tx_gain: 10         # TX Gain [dB]
    bw: 0                # TX/RW Bandwidth [Hz]
    tx_ant: "TX/RX"
    rx_ant: "RX2"
CHIRP:
    time_offset: 1       # Time before first receive [s]
    tx_duration: *chirp_len # Transmission duration [s]
    rx_duration: 150e-6   # Receive duration [s]
    tr_on_lead: 0e-6     # Time from GPIO output toggle on to TX [s]
    tr_off_trail: 0e-6  # Time from TX off to GPIO output off [s]
    pulse_rep_int: 5000e-6 # Chirp period [s]
    tx_lead: 0e+0        # Time between start of TX and RX[s]
    num_pulses: &num_pulses 1000        # No. of chirps to TX/RX - set to -1 to continuously transmit pulses until stopped
    num_presums: &num_presums 10         # No. of chirps to (coherently) presum onboard (must be at least 1)
FILES:
    chirp_loc: *ch_sent                 # Chirp to transmit
    save_loc: &save_loc "data/rx_samps.bin"  # Save rx data here
    
# -------------------------- Plot Samples --------------------------- #
PLOT:
    rx_samps: *save_loc       # Receive data to use
    orig_chirp: *ch_sent           # Chirp associated with receive data
    sample_rate: *s_rate
    sig_speed: 3e8                 # Speed of signal through medium [m/s]
    direct_start: &dir_start 20    # Start search for direct path @ this sample
    echo_start: 10                 # Start search for echo @ this # of samps. after direct path

# --------------------------- Noise Test -----------------------------#
NOISE:
    rx_samps: *save_loc         # Receive data to use
    orig_chirp: *ch_sent        # Chirp associated with receive data
    sample_rate: *s_rate
    noise_std: 6                # Standard deviation for white noise generation
    #coherent_sums: *coh_sums    # Number of sums to eliminate noise.
    direct_start: *dir_start    # Sample at which to start search for direct path
    show_graphs: False          # For debugging
    describe: False             # For debugging


